.bg{
    color: #393939;
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.background{
    background-color: #FDF9F4;
}
.main{
    object-fit: contain;
    width: 250px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.image{
    width: 200px;
    height: 100px;
}
.allies{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 50px;
}
.allies:last-child {
    justify-content: center;
}

@media (max-width: 989px) {
    .bg{
        width: 90vw;
        margin: auto;
    }
    .allies{
        gap: 20px;
    }
    .image{
        width: 100px;
        height: 50px;
    }
    .main{
        width: 110px;
    }
}

