
.main{
    padding-top: 100px;
    padding-bottom: 60px;
}
.content{
    display: flex;
    justify-content: center;
}
.pic{
    object-fit: contain;
}
.pic img{
    width: 450px;
    height: 450px;
    border-radius: 50%;
}
.text{
    height: 200px;
    margin-left: 30px;
    width: 450px;
    margin-top: 30px;
    margin-left: 100px;
}
.h1{
    font-size: 40px;
    font-weight: 750;
    color: #393939;
}
.para{
    margin-top: 30px;
    color: #757575;
    font-weight: 600;
    font-size: 16px;
}

@media (max-width: 1200px)  {
    .main{
        padding-top: 110px;
    }
}
@media (max-width: 989px) {
    .h1{
        font-size: 30px;
    }
    .main{
        height: auto;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .content{
        flex-direction: column;
    }
    .pic img{
        height: 300px;
        width:70vw ;
        border-radius: 0px;
        margin: auto;
    }
    .text{
        padding-top: 20px;
        height: auto;
        width: 70vw;
        margin:auto
    }
    .para{
        font-size: 0.9rem;
    }
}
@media (max-width: 768px) {
    .text{
        width: 75vw;
    }
    .pic img{
        border-radius: 0px;
        width: 75vw;
    }
}
@media (max-width: 576px) {
    .pic img{
        width: 80vw;
    }
    .text{
        width: 80vw;
    }
}