.content{
    background-color:#FDF9F4;
    height:610px;
}
.text{
    color: #393939;
    font-size: 35px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
    padding-top: 60px;
}
.line{
    font-size: 17px;
    color: #757575;
    width: 850px;
    text-align: center;
    margin-top: 20px;
}
.artistName{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    margin-left: 10px;
    bottom: 15px;
    width: 250px;
    line-height: 30px;
}
.artistImage{
    width:100%;
    height:100%;
    border-radius: 15px;
}
.artistContainer{
    width: 250px;
    height: 280px;
    object-fit: cover;
}
@media (max-width: 989px) {
    .text{
        flex-direction: column;
        align-items: center;
        font-size: 30px;
    }
    .line{
        width: 80vw;
    }
    .artistContainer{
        width: 90vw;
    }
    .artistImage{
        width:70%;
        border-radius: 15px;
    }
    .artistName{
        width: 200px;
    }
    .content{
        background-color:#FDF9F4;
        height:680px;
    }
}