@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.content{
    background-color:#FDF9F4;
    height:610px;
}
.text{
    color: #393939;
    font-style: Mulish;
    font-size: 35px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
    padding-top: 60px;
}
.line{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #757575;
    width: 65vw;
    text-align: center;
    margin-top: 20px;
}
.artistName{
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    margin-left: 10px;
    bottom: 15px;
    width: 250px;
    line-height: 30px;
}
.artistImage{
    width:100%;
    height:100%;
    border-radius: 15px;
}
.artistContainer{
    width: 250px;
    height: 280px;
    object-fit: cover;
}
@media (max-width: 989px) {
    .text{
        flex-direction: column;
        align-items: center;
        font-size: 30px;
    }
    .line{
        width: 80vw;
    }
    .artistContainer{
        width: 90vw;
    }
    .artistImage{
        width:70%;
        border-radius: 15px;
    }
    .artistName{
        width: 200px;
    }
    .content{
        background-color:#FDF9F4;
        height:680px;
    }
}