.main{
    background-color: hsl(204, 91%, 25%);
    margin-top: 50px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.info{
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.heading {
    font-size: 40px;
    padding-top: 20px;
}
.office{
    font-size: 20px;
    margin-top: 30px;
    line-height: 35px;
}
.icons{
    display: flex;
    gap: 20px;
}
.connection{
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}
@media (max-width: 989px) {
    .footer{
        flex-direction: column;
    }
    .connection{
       margin-top: 40px;
    }
    .info{
        padding-top: 5px;
    }
    .footer{
        margin-bottom: 5px;
    }
    .office,.connection,.info{
        width: 90vw;
    }
}

  