@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bg {
  color: #393939;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}
.heading {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #393939;
  letter-spacing: 0.035em;
  font-size: 30px;
}
.line {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #757575;
  width: 60vw;
  margin-top: 10px;
  text-align: center;
}
.text1 {
  line-height: 15px;
}
.background {
  height: 450px;
  width: 75vw;
  margin: auto;
  display: flex;
  justify-content: space-around; /* Distributes the cards evenly */
  align-items: center; /* Centers the cards vertically */
}
.background1 {
  height: 350px;
  width: 75vw;
  margin: auto;
  display: flex;
  justify-content: space-around; /* Distributes the cards evenly */
  align-items: center; /* Centers the cards vertically */
}

.card1 {
  width: 300px;
  height: 330px;
  border-top: 2px solid #fd7a03;
  box-shadow: 0px 4px 54px 0px #97979740;
  background: linear-gradient(216.93deg, #ffdab8 3.28%, #ffffff 59.89%);
  border-radius: 40px;
  position: relative; /* Changed to relative to work properly with the flex layout */
}
.card2 {
  width: 300px;
  height: 330px;
  border-bottom: 2px solid #2eafff;
  box-shadow: 0px 4px 54px 0px #97979740;
  background: linear-gradient(217.24deg, #ffffff 44.95%, #e2faff 97.74%);
  border-radius: 40px;
  position: relative; /* Changed to relative to work properly with the flex layout */
}
.card3 {
  width: 300px;
  height: 330px;
  border-top: 2px solid #f322a5;
  background: linear-gradient(
    221.7deg,
    #fecaea 3.44%,
    #ffffff 52.23%,
    #ffffff 52.23%
  );
  box-shadow: 0px 4px 54px 0px #97979740;
  border-radius: 40px;
  position: relative; /* Changed to relative to work properly with the flex layout */
}
.text {
  color: #393939;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 29px;
  padding-top: 35px;
  line-height: 33px;
  text-align: center;
}
.text1 {
  color: #393939;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 29px;
  text-align: center;
  margin-top: 8px;
}

.line2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #757575;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  align-self: center;
}

@media (max-width: 1024px) {
  .line {
    width: 90vw;
    margin-top: 20px;
  }
  .background {
    margin-top: 50px;
    flex-direction: column;
    gap: 30px;
  }
  .card1,
  .card2,
  .card3 {
    width: 70vw;
  }
  .text {
    padding-top: 20px;
  }
  .line2 {
    margin-bottom: 20px;
  }
}
